# BIDS Bro Inspection

In [1]:
import glob, os
import pandas as pd

In [58]:
sessions=['ses-1', 'ses-2']

## Missing files in subjects by session

In [86]:
from IPython.core import display as ICD

for sess_id in sessions:
    if "1" in sess_id:
        print("\n> SESSION 1\n")
    else:
        print("\n> SESSION 2\n")
        
    ses_mia=pd.read_csv('bro_{}_missing.csv'.format(sess_id),sep="\t")
    ses_mia.set_index("Unnamed: 0", inplace=True)
    ses_mia.index.names=["subjects"]
    
    ses_pmia=pd.read_csv('bro_{}_partial_missing.csv'.format(sess_id),sep="\t")
    ses_pmia.set_index("Unnamed: 0", inplace=True)
    ses_pmia.index.names=["subjects"]
    
    ses_fd=pd.read_csv('bro_{}_found.csv'.format(sess_id),sep="\t")
    ses_fd.set_index("Unnamed: 0", inplace=True)
    ses_fd.index.names=["subjects"]


    print("All files found missing: \t{}\n".format(' '.join(ses_mia.index.values)))
    print("Some files found missing: \t{}\n".format(' '.join(ses_pmia.index.values)))
    print("All files found: \t\t{}\n".format(' '.join(ses_fd.index.values)))

    print("\nDataframe (Missing files): ")
    ICD.display(ses_mia)
    print("\nDataframe (Partial files found): ")
    ICD.display(ses_pmia)
    print("\nDataframe (All files found): ")
    ICD.display(ses_fd)

> SESSION 1

All files found missing: 	sub-001 sub-002 sub-003 sub-004 sub-013 sub-017 sub-018 sub-027 sub-042 sub-054

Some files found missing: 	sub-010 sub-012 sub-037 sub-040 sub-045 sub-052

All files found: 		sub-006 sub-007 sub-008 sub-009 sub-011 sub-014 sub-015 sub-016 sub-019 sub-020 sub-021 sub-022 sub-023 sub-025 sub-026 sub-028 sub-029 sub-030 sub-031 sub-032 sub-033 sub-034 sub-036 sub-038 sub-039 sub-041 sub-043 sub-044 sub-046 sub-047 sub-048 sub-049 sub-050 sub-051 sub-053 sub-055 sub-056


Dataframe (Missing files):

          anat  fmap  func  runs_pe  runs_rest  runs_train
subjects
sub-001      0     0     0        0          0           0
sub-002      0     0     0        0          0           0
sub-003      0     0     0        0          0           0
sub-004      0     0     0        0          0           0
sub-013      0     0     0        0          0           0
sub-017      0     0     0        0          0           0
sub-018      0     0     0        0          0           0
sub-027      0     0     0        0          0           0
sub-042      0     0     0        0          0           0
sub-054      0     0     0        0          0           0

Dataframe (Partial files found):

          anat  fmap  func  runs_pe  runs_rest  runs_train
subjects
sub-010      1     0     0        0          0           0
sub-012      1     0     0        0          0           0
sub-037      1     0     0        0          0           0
sub-040      1     0     0        0          0           0
sub-045      0     5     5        2          1           2
sub-052      1     0     0        0          0           0

Dataframe (All files found):

          anat  fmap  func  runs_pe  runs_rest  runs_train
subjects
sub-006      1     5     5        2          1           2
sub-007      1     5     5        2          1           2
sub-008      1     5     5        2          1           2
sub-009      1     6     6        2          1           3
sub-011      1     5     5        2          1           2
sub-014      1     6     6        2          1           3
sub-015      1     5     5        2          1           2
sub-016      1     5     5        2          1           2
sub-019      1     5     5        2          1           2
sub-020      1     3     3        1          1           1
sub-021      1     5     5        2          1           2
sub-022      1     5     5        2          1           2
sub-023      1     5     5        2          1           2
sub-025      1     5     5        2          1           2
sub-026      1     5     5        2          1           2
sub-028      1     5     5        2          1           2
sub-029      1     5     5        2          1           2
sub-030      1     5     5        2          1           2
sub-031      1     5     5        2          1           2
sub-032      1     5     5        2          1           2
sub-033      1     5     5        2          1           2
sub-034      1     5     5        2          1           2
sub-036      1     5     5        2          1           2
sub-038      1     5     5        2          1           2
sub-039      1     5     5        2          1           2
sub-041      1     5     5        2          1           2
sub-043      1     5     5        2          1           2
sub-044      1     5     5        2          1           2
sub-046      1     5     5        2          1           2
sub-047      1     6     6        2          1           3
sub-048      1     5     5        2          1           2
sub-049      1     5     5        2          1           2
sub-050      1     8     8        5          1           2
sub-051      1     7     7        4          1           2
sub-053      1     5     5        2          1           2
sub-055      1     5     5        2          1           2
sub-056      1     5     5        2          1           2

> SESSION 2

All files found missing: 	sub-020 sub-037 sub-055

Some files found missing: 	sub-003 sub-008 sub-025 sub-042

All files found: 		sub-001 sub-002 sub-004 sub-006 sub-007 sub-009 sub-010 sub-011 sub-012 sub-013 sub-014 sub-015 sub-016 sub-017 sub-018 sub-019 sub-021 sub-022 sub-023 sub-026 sub-027 sub-028 sub-029 sub-030 sub-031 sub-032 sub-033 sub-034 sub-036 sub-038 sub-039 sub-040 sub-041 sub-043 sub-044 sub-045 sub-046 sub-047 sub-048 sub-049 sub-050 sub-051 sub-052 sub-053 sub-054 sub-056


Dataframe (Missing files):

          anat  fmap  func  runs_pe  runs_rest  runs_train
subjects
sub-020      0     0     0        0          0           0
sub-037      0     0     0        0          0           0
sub-055      0     0     0        0          0           0

Dataframe (Partial files found):

          anat  fmap  func  runs_pe  runs_rest  runs_train
subjects
sub-003      0     4     4        2          0           2
sub-008      1     0     0        0          0           0
sub-025      1     0     0        0          0           0
sub-042      0     3     3        2          1           0

Dataframe (All files found):

          anat  fmap  func  runs_pe  runs_rest  runs_train
subjects
sub-001      1     5     5        2          1           2
sub-002      1     5     5        2          1           2
sub-004      1     5     5        2          1           2
sub-006      1     5     5        2          1           2
sub-007      1     5     5        2          1           2
sub-009      1     6     6        2          1           3
sub-010      1     5     5        2          1           2
sub-011      1     5     5        2          1           2
sub-012      1     5     5        2          1           2
sub-013      1     5     5        2          1           2
sub-014      1     5     5        2          1           2
sub-015      1     5     5        2          1           2
sub-016      1     6     6        2          1           3
sub-017      1     6     6        3          1           2
sub-018      1     4     4        1          1           2
sub-019      1     5     5        2          1           2
sub-021      1     5     5        2          1           2
sub-022      1     5     5        2          1           2
sub-023      1     5     5        2          1           2
sub-026      1     5     5        2          1           2
sub-027      1     5     5        2          1           2
sub-028      1     5     5        2          1           2
sub-029      1     5     5        2          1           2
sub-030      1     5     5        2          1           2
sub-031      1     5     5        2          1           2
sub-032      1     5     5        2          1           2
sub-033      1     5     5        2          1           2
sub-034      1     6     6        3          1           2
sub-036      1     5     5        2          1           2
sub-038      1     5     5        2          1           2
sub-039      1     6     6        2          1           3
sub-040      1     5     5        2          1           2
sub-041      1     6     6        2          1           3
sub-043      1     5     5        2          1           2
sub-044      1     5     5        2          1           2
sub-045      1     5     5        2          1           2
sub-046      1     5     5        2          1           2
sub-047      1     5     5        2          1           2
sub-048      1     5     5        2          1           2
sub-049      1     5     5        2          1           2
sub-050      1     6     6        2          1           3
sub-051      1     5     5        2          1           2
sub-052      1     5     5        2          1           2
sub-053      1     5     5        2          1           2
sub-054      1     5     5        2          1           2
sub-056      1     5     5        2          1           2